django
tensorflow-cpu
crepe
crepe_notes
gunicorn
lxml
ipython
djangorestframework-simplejwt
django-cors-headers
reportlab
music21
pydub
django-cors-headers
django-anymail
djangorestframework
numba==0.57.0  
lazy_loader
