absl-py
asgiref
asttokens
astunparse
audioread
build
CacheControl
certifi
cffi
chardet
charset-normalizer
cleo
contourpy
crashtest
cryptography
cycler
Cython
decorator
distlib
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
dulwich
executing
fastjsonschema
ffmpeg
filelock
flatbuffers
fonttools
gast
google-pasta
grpcio
h5py
idna
importlib_metadata
installer
ipython
jaraco.classes
jedi
jeepney
joblib
jsonpickle
keras
keyring
kiwisolver
lazy_loader
libclang
librosa
llvmlite
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
ml-dtypes
more-itertools
msgpack
music21
namex
numba
numpy
opt-einsum
optree
packaging
parso
pexpect
pillow
pkginfo
platformdirs
poetry
poetry-core
poetry-plugin-export
pooch
prompt-toolkit
protobuf
ptyprocess
pure-eval
pycparser
pydub
Pygments
PyJWT
pyparsing
pyproject_hooks
python-dateutil
PyYAML
rapidfuzz
requests
requests-toolbelt
rich
scikit-learn
scipy
SecretStorage
shellingham
six
soundfile
soxr
sqlparse
stack-data
tensorboard
tensorboard-data-server
tensorflow
tensorflow-hub
tensorflow-io-gcs-filesystem
termcolor
tf_keras
threadpoolctl
tomlkit
traitlets
trove-classifiers
typing_extensions
urllib3
virtualenv
wcwidth
webcolors
Werkzeug
wrapt
zipp
