.home-container {
  display: flex;
  flex-direction: row;
  height: 92vh; /* Make sure the container takes full vertical height */
  overflow: hidden; /*Prevents elements from overflowing the container*/
}


.left-section {
  background: #000; /* Light gray for testing */
  width:20vw; /* Adjust width for LeftSection */
  padding-bottom: 5px;
}

.middle-section {
  background: #000; /* Lighter gray for testing */
  /* width: 65vw; Adjust width for MiddleSection */
  padding-bottom: 5px;
  
}

.right-section {
  /* background: #000; Light gray for testing */
   /* Adjust width for LeftSection */
   padding-bottom: 5px;
}

h2 {
  margin-bottom: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}
  

  