.home-container {
  display: flex;
  flex-direction: row;
  height: 100vh; /* Make sure the container takes full vertical height */
  overflow: hidden; /*Prevents elements from overflowing the container*/
}


.left-section {
  background: #e0e0e0; /* Light gray for testing */
  width:30vw; /* Adjust width for LeftSection */
}

.middle-section {
  background: #f0f0f0; /* Lighter gray for testing */
  flex: 0.7; /* Adjust width for MiddleSection */
}

h2 {
  margin-bottom: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}
  

  